p, li {
  color: #4F30FF;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
 h1{
  margin: 0;
  color: #FFC700;
  font-size: 60px;
  text-shadow: 3px 3px 10px black;
  text-align: center;
}
a {
  color: red
}
html {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}

body{
  width: 600px;
  margin: 55px auto 340px auto;
  background-color: rgba(16, 32, 45, 0.25);
  padding: 20px 20px 50px 20px;
  border: 2px solid #9000CE;
}

img {
  display: block;
  width: 200px;
  margin: 10px auto;
}

ul#navbar {

  overflow: hidden;


  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

li#navbar {
  float: left;
}


li#navbar a#navbarlink {
  display: block;
  padding: 5px;
  color: rgba(180, 180, 180, 1);

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#navbar a#navbarlink:hover {
  background-color: #111;
  color: white;
}
