h1{
 margin: 50px;
 color: #FFFFFF;
 font-size: 100px;
 text-align: center;
}
html {
  background-color: #000000;
}
img {
  display: block;
  margin: 10px auto;
}
a {
  text-align: center;
  display: block;
  color: #FFDD00;
}
